PROJECT_ID = YOUR_APPWRITE_PROJECT_ID
APPWRITE_API_KEY = YOUR_APPWRITE_API_KEY // MUST HAVE DATABASE SCOPE
RUNSHAW_ID = MY_RUNSHAW_API_KEY // PROJECT ID FOR MY RUNSHAW 
MY_RUNSHAW_ID = YOUR_MY_RUNSHAW_ACCOUNT // Your MY RUNSHAW account credentials. If you don't have it or do not have access, then use the demo release of the app.
MY_RUNSHAW_PASSWORD = YOUR_MY_RUNSHAW_PASSWORD 